#u1{
    font-size: 25px;
}

#u2{
    font-size: 25px;
}

#u2{
    font-size: 25px;
}

#u3{
    font-size: 25px;
}

#u4{
    font-size: 25px;
}

#u5{
    font-size: 25px;
}

#u6{
    font-size: 25px;
}

#u7{
    font-size: 25px;
}

#u8{
    font-size: 25px;
}

#u9{
    font-size: 25px;
}

#first{
    color: darkblue;
    background-color: violet;
}

#second{
    color: rosybrown;
    background-color: aquamarine;
}

#third{
    color: azure;
    background-color: turquoise;
}

#fourth{
    color: brown;
    border-color: black;
}

#fifth{
    color: yellow;
    background-color: blueviolet;
}

#hovertext{
    color: pink;
}

#buttonTime{
    color: aqua;
    background-color: darkgreen;
}

#buttonDate{
    color: forestgreen;
    background-color: brown;
}

#obrazek{
    height: 225x;
    width: 225px;
}